@import "./Base/typography";
@import "./Utils/variable";
@import "./Layout/footer";
@import "./Layout/header";
@import "./Base/base";
@import "./Pages/localisation";
@import "./Pages/presentation";
@import "./Pages/fonctionnement";
@import "./Pages/restaurant";

// Page des Menus
.btn {
  @extend .presentation_btn;
}

h1 {
  font-family: $font-title, sans-serif;
}
ul {
  list-style-type: none;
}
section > img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}
.menu {
  padding: 30px 20px;
  position: sticky;
  background-color: $background;
  border-radius: 50px 50px 0 0;
  margin-top: -55px;
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    h1 {
      margin: 0;
    }
    i {
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0px auto;
  }
  section {
    align-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  // header > i{
  //     position: absolute;
  //     margin: 20px 0 25px 20px;

  // }
  // header > div{
  //     display: flex;
  //     flex-direction: row
  // }
 
  // header > i{
  //     position: absolute;
  //     margin: 20px 0 25px 20px;

  // }
  // header > div{
  //     display: flex;
  //     flex-direction: row;

  // }
  // ul{
  //     list-style-type: none;
  //     }
  // section > img{
  //     width: 100%;
  //     height: 255px;
  //     object-fit: cover;
  // }
}

@media screen and (min-width: 1024px) {
  // body{
  //     font-family: '$font-text', sans-serif;
  //     margin: 0px auto;
  //     max-width: 1500px;
  // }
  // h1{
  //     font-family :$font-title, sans-serif;
  // }
  // ul{
  //     list-style-type: none;
  //     }
  // section > img{
  //     width: 100%;
  //     height: 255px;
  //     object-fit: cover;
  // }
}
