$font-title: 'Shrikhand';
$font-text: 'Roboto';
$primary:#9356DC;
$secondry:#FF79DA;
$tertiary: #99E2D0;
body{
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    .logo_header{
        width: 165px;
        height: 30px;
    }
}
.localisation{
    display: inline;
    flex-direction: row;
    &_element{
        font-size: 1em;
        font-weight: 500;
        color: #393939;
        text-align: center;
        background-color: #EAEAEA;
        padding: 13px 0;
        box-shadow: inset 0 2.5px 3px #d5d5d5;
    }
    h1{
        display: inline-block;
        font-size: 1em;
    }
}
.presentation{
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    text-align: center;
    padding: 20px 20px 30px;
    &_title{
        margin-bottom: 0;
        color: #313131;
        padding: 0 20px;
    }
    &_text{
        color: #969696;
    }
    &_btn{
        width: 60%;
        height: 50px;
        align-self: center;
        border: 1px solid transparent;
        border-radius: 25px ;
        background: linear-gradient(175deg, $secondry, 45%, $primary);
        color: #FFFFFF;
        font-size: 14px;
        box-shadow: inset 0 2.5px 3px #d5d5d5;
    }


}
.fonctionnement{
    h2{
        font-size: 1.6em;
        padding: 30px 20px
    }    
    &_step{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_btn{
        width: 80%;
        height: 65px;
        background-color: #F6F6F6;
        border-radius: 15px;
        box-shadow: 1px 2px 11px #d5d5d5;
        margin: 0 0 30px 0;
        cursor: pointer;
        .btn__num{
            width: 23px;
            height: 23px;
            font-size: 0.8em;
            color: white;
            text-align: center;
            background-color: #9356DC;
            border-radius: 50%;
            left: -12.5px;
            top: 23px;
            line-height: 25px;
            position: relative;
        }
        .fas{
            padding:0 20px 0 30px;
            color: #7E7E7E;
        }
        span{
            font-size: 15px;
            font-weight: 600;
        }
    } 
}


.btn{
    background-color: $primary;
    color: #FFF;
    border-radius: 3rem;
    width: 60%;
    padding: 1rem;
}
.restaurant{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
    h2{
        padding-left: 20px;
    }
    &_menu{
        background-color: #ffffff;
        width: 90%;
        align-self: center;
        border-radius: 25px;
    }
    a{
        text-decoration: none;
        img{
            height: 175px;
            width: 100%;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
        }
        h3{
            margin: 1em 0 -0.5em 1em;
            font-weight: 600;
        }
        p{
            margin-left: 1em;
        }
        i{
            float: right;
            position: relative;
            font-size: x-large;
            bottom: 50px;
            right: 25px;
        }
    }

}
footer{
    background-color: #353535;
    padding: 15px 0;
    h3{
        padding: 0 0 0 1.5em;
        font-family: $font-title;
        color: #FFFFFF;
    }
    ul{
        padding: 0 1.5em;
        list-style-type: none;
        i{
        color: #FFFFFF;
        }
        a{
            text-decoration: none;
            color: #FFF;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
header > img{
    width: 160px
}
div > img{
    width: 335px;
} 
}
@media screen and (min-width: 1024px){
body{
    margin: 0px auto;
}  
section{
align-content: space-between;
}           
}