footer {
  background-color: $black;
  padding: 10px 0 15px 0;
  .logo_texte {
    padding: 0 0 0 1.5em;
    color: $white;
  }
  ul {
    padding: 0 1.5em;
    i {
      margin-right: 5px;
      color: $white;
    }
    a {
      color: $white;
    }
    li {
      margin-bottom: 10px;
    }
  }
}
