footer {
  background-color: $black;
  padding: 15px 0;
  h3 {
    padding: 0 0 0 1.5em;
    font-family: $font-title;
    color: $white;
  }
  ul {
    padding: 0 1.5em;
    i {
      color: $white;
    }
    a {
      color: $white;
    }
  }
}
