header {
    display: flex;
    justify-content: center;
    @include desktop{
      a{
        margin: 0;
      }
    }
    .logo_header {
        width: 165px;
        height: 30px;        
        @include desktop{
            width: 40%;
            height: 20%;
        }
    }
}
@media screen and (min-width: 1024px) {
  
  
  section {
    align-content: space-between;
  }
}
.header_menu {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    i {
      position: absolute;
      margin: 10px 30px 0;
    }
}