.menu_content .menu_items .carte_menu .menu_descript, .restaurant_menu {
  box-shadow: 0 2px 20px -2px #d5d5d5;
}

.fade-1 {
  animation: fadein 0.5s, jump 1s;
  transition-timing-function: ease-in-out;
}

.fade-2 {
  animation: fadein 1s, jump 2s;
  transition-timing-function: ease-in-out;
}

.fade-3 {
  animation: fadein 1.5s, jump 3s;
  transition-timing-function: ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

li {
  list-style: none;
}

h1,
h3 {
  font-family: Shrikhand, Roboto, sans-serif;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

@keyframes preloader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes retard {
  from {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes jump {
  0% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card_heart--resto {
  cursor: pointer;
}
.card_heart--resto .empty {
  position: absolute;
  font-size: 24px;
  z-index: 2;
  color: black;
  background: transparent;
  opacity: 1;
}
.card_heart--resto .fill {
  font-size: 24px;
  position: absolute;
  z-index: 1;
  transform: scale(0);
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background: -webkit-linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card_heart--resto:hover .empty {
  opacity: 0;
}
.card_heart--resto:hover .fill {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
  transform-origin: bottom center;
}

.menu_descript .btn_circle {
  transition: transform 500ms;
  transform: translateX(66px);
}
.menu_descript .btn_price {
  transition: transform 500ms;
  transform: translateX(0px);
}
.menu_descript:hover .btn_circle {
  transition: transform 500ms;
  transform: translateX(0);
}
.menu_descript:hover .btn_price {
  transition: transform 500ms;
  transform: translateX(-45px);
}
.menu_descript:hover .btn_circle--check {
  transition: transform 1000ms ease-in-out;
  transform: rotate(360deg);
}
.menu_descript:hover .meal_detail-text {
  width: calc(100% - 50px);
}

.btn {
  background-image: linear-gradient(#ff79da, 45%, #9356dc);
  transition: transform 1000ms ease-in-out;
}

footer {
  background-color: #353535;
  padding: 10px 0 15px 0;
}
footer .logo_texte {
  padding: 0 0 0 1.5em;
  color: #ffffff;
}
footer ul {
  padding: 0 1.5em;
}
footer ul i {
  margin-right: 5px;
  color: #ffffff;
}
footer ul a {
  color: #ffffff;
}
footer ul li {
  margin-bottom: 10px;
}

header {
  display: flex;
  padding: 10px;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  header a {
    margin: 0;
  }
}
header .logo_header {
  font-size: 30px;
  font-weight: 100;
}
@media screen and (min-width: 992px) {
  header .logo_header {
    font-size: 50px;
  }
}

.header_menu {
  justify-content: unset;
  align-items: baseline;
  gap: 20px;
}
.header_menu i {
  margin: 15px 30px 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header_menu {
    gap: 175px;
  }
}
@media screen and (min-width: 992px) {
  .header_menu {
    gap: 250px;
  }
}

.localisation {
  display: inline;
  flex-direction: row;
}
@media screen and (min-width: 992px) {
  .localisation {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eaeaea;
  }
}
.localisation_element {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding: 13px 0;
  background: #eaeaea;
}
@media screen and (min-width: 992px) {
  .localisation_element i {
    font-size: larger;
  }
}
.localisation h2 {
  display: inline-block;
  font-size: 1em;
}
@media screen and (min-width: 992px) {
  .localisation h2 {
    font-size: larger;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  text-align: center;
  padding: 20px 20px 30px;
}
.presentation_title {
  margin-bottom: 0;
  color: #353535;
  padding: 0 20px;
}
.presentation_text {
  color: #969696;
}
.presentation_explor {
  margin: 20px;
}
.presentation_explor--btn, .btn_order {
  width: 200px;
  text-align: center;
  height: 50px;
  color: #ffffff;
  border-radius: 50px;
  border-color: transparent;
  background-image: linear-gradient(#ff79da 0%, #9356dc 100%);
  box-shadow: 3px 5px 7px #d5d5d5;
  position: relative;
  z-index: 1;
  white-space: pre;
  margin: 20px auto 40px auto;
  padding: 15px;
}
.presentation_explor--btn:visited, .btn_order:visited {
  color: #ffffff;
}
.presentation_explor--btn:hover, .btn_order:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6), inset -1px -1px 2px #9356dc;
  background-color: linear-gradient(#ff79da, 4% 0%, #9356dc, 1% 100%);
}
@media screen and (min-width: 992px) {
  .presentation_explor {
    width: 20%;
    align-self: center;
    margin: 20px;
  }
}

.fonctionnement h2 {
  font-size: 1.6em;
  padding: 30px 20px;
}
.fonctionnement_step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .fonctionnement_step {
    flex-direction: row;
    justify-content: space-around;
  }
}
.fonctionnement_btn {
  width: 80%;
  height: 65px;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 1px 2px 11px #d5d5d5;
  margin: 0 0 30px 0;
  cursor: pointer;
}
.fonctionnement_btn:hover {
  color: black;
  box-shadow: 3px 4px 15px #d5d5d5;
  background-color: #f5edff;
}
.fonctionnement_btn:hover .fas {
  color: #9356dc;
}
@media screen and (min-width: 992px) {
  .fonctionnement_btn {
    width: 25%;
  }
}
.fonctionnement_btn .btn__num {
  width: 23px;
  height: 23px;
  font-size: 0.8em;
  color: white;
  text-align: center;
  background-color: #9356dc;
  border-radius: 50%;
  left: -12.5px;
  top: 23px;
  line-height: 25px;
  position: relative;
  margin: 0;
}
.fonctionnement_btn .fas {
  padding: 0 20px 0 30px;
  color: #7e7e7e;
}
.fonctionnement_btn span {
  font-size: 15px;
  font-weight: 600;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 50px 0 50px 20px;
}
@media screen and (min-width: 992px) {
  .restaurant {
    padding: 0 10px 50px 10px;
  }
}
.restaurant h2 {
  font-size: 20px;
}
.restaurant_menu {
  background-color: #ffffff;
  width: 90%;
  border-radius: 15px;
  display: flex;
  align-self: center;
  position: relative;
  margin: 10px 10px 20px 10px;
}
@media screen and (min-width: 992px) {
  .restaurant_menu {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.restaurant_menu .etiquette {
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background-color: #99e2d0;
  font-size: 0.9em;
  font-weight: 500;
  color: #0f9070;
  position: absolute;
  margin: 13px 20px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
}
.restaurant_menu .card_description {
  position: relative;
  margin: 10px;
}
.restaurant a img {
  height: 170px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media screen and (min-width: 992px) {
  .restaurant a {
    height: 210px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant p {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .desktop_row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
@media screen and (min-width: 992px) {
  .desktop_row {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
  .desktop_row h2 {
    text-align: left;
  }
}

.menu_content {
  background-color: #f6f6f6;
}
.menu_content .menu_image img {
  width: 100%;
  max-height: 400px;
  margin-bottom: -30px;
  object-fit: cover;
}
.menu_content .menu_items {
  padding: 10px;
  position: sticky;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -55px;
}
.menu_content .menu_items .menu_title {
  display: flex;
  gap: 30px;
  font-size: large;
  margin: 12px;
  line-height: 25px;
}
@media (max-width: 320px) {
  .menu_content .menu_items .menu_title {
    gap: 30px;
    font-size: large;
    margin: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu_content .menu_items .menu_title {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .menu_content .menu_items .menu_title {
    gap: 350px;
    font-size: xx-large;
    line-height: 25px;
    margin: 20px 50px;
    justify-content: space-between;
  }
}
.menu_content .menu_items .menu_title h1 {
  margin: unset;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu_content .menu_items .desktop_section {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .menu_content .menu_items .desktop_section {
    display: grid;
    grid-template-columns: repeat(3, 34%);
  }
  .menu_content .menu_items .desktop_section .desktop_column {
    width: 95%;
  }
}
.menu_content .menu_items .designation {
  font-size: 19px;
  font-weight: 400;
  margin: 20px 0;
}
.menu_content .menu_items .designation::after {
  content: "";
  border: 1px solid #99e2d0;
  background-color: #99e2d0;
  bottom: -3px;
  display: block;
  height: 1px;
  width: 48px;
  position: relative;
}
.menu_content .menu_items .carte_menu {
  flex: 1;
  overflow: hidden;
  width: 100%;
}
.menu_content .menu_items .carte_menu .menu_descript {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .menu_content .menu_items .carte_menu .menu_descript {
    margin: 15px 60px 5px 0;
  }
}
.menu_content .menu_items .carte_menu .menu_descript .meal_detail-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_content .menu_items .carte_menu .menu_descript .meal_detail-text--name {
  display: block;
  font-size: 1em;
  padding: 10px 60px 0 10px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_content .menu_items .carte_menu .menu_descript .meal_detail-text--accompagn {
  display: block;
  font-weight: normal;
  padding: 0 60px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_content .menu_items .carte_menu .menu_descript .btn_price {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 30px 20px 0 20px;
  white-space: nowrap;
}
.menu_content .menu_items .carte_menu .menu_descript .btn_circle {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  font-size: 1.1em;
  color: #ffffff;
  text-align: center;
  padding: 9px 0;
  width: 55px;
  line-height: 40px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu_content .menu_items .carte_menu .menu_descript .fa-check-circle {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.btn_order {
  margin: 20px auto 40px 85px;
  font-size: large;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btn_order {
    margin: 20px auto 40px 300px;
  }
}
@media screen and (min-width: 992px) {
  .btn_order {
    margin: 20px auto 40px 420px;
  }
}

.restaurant_menu .card_heart--resto {
  bottom: 50px;
  top: unset;
}

.card_heart--resto {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 35px;
  top: 25px;
}
@media screen and (min-width: 992px) {
  .card_heart--resto {
    right: 20px;
    bottom: 42px;
  }
}

.preloader {
  animation: preloader 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.preloader .title {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  top: 40%;
  font-family: Shrikhand, Roboto, sans-serif;
  color: #ff79da;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 2px;
}
.preloader .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 40%;
  width: 120px;
  height: 120px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: loader 2.5s linear infinite;
  -ms-animation: loader 2.5s linear infinite;
  animation: loader 2.5s linear infinite;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}
.preloader .loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: loader 2s linear infinite;
  -ms-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}
.preloader .loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: loader 1s linear infinite;
  -ms-animation: loader 1s linear infinite;
  animation: loader 1s linear infinite;
}

/*# sourceMappingURL=style.css.map */
