.card_heart--resto{
    transition-property: opacity, animation;
    animation-fill-mode: both;
    animation-delay: 1s;
    cursor: pointer;
    .empty{
        position: absolute;
        background: $white;
        font-size: 24px;
        z-index: 2;
        color: black;
        &:hover{        
            opacity: 0;
        }
    }
    .fill{
        font-size: 24px;
        position: absolute;
        z-index: 1;
        background: linear-gradient(139deg, #FF79DA 10%, #9356DC 95%);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;        
        &:hover{
        opacity:1;
        animation: jump 1s ease-in;
        animation-delay: 2s;
        &:active{
            opacity: 1;
        }
        }
    }
    &.card_heart--menu{
        animation-timing-function: ease-in;
    }
}
.btn {
    background-color:linear-gradient(175deg, $secondry, 45%, $primary);
    transition: transform 330ms ease-in-out;
    &:hover{

        transform: scale(2);
    }
}
.fade-1{  
    animation: fadein 1s, jump 1s;
    transition-timing-function: ease-in-out;    
}
.fade-2{
    animation: fadein 1.5s, jump 1.2s;
    transition-timing-function: ease-in-out;    
    
}
.fade-3{    
    animation: fadein 2s, jump 1.5s;
    transition-timing-function: ease-in-out;    
}
            


