
.card_heart--resto {
  cursor: pointer;
  .empty {
    position: absolute;
    font-size: 24px;
    z-index: 2;
    color: black;
    background: transparent;
    opacity: 1;
  }
  .fill {
    font-size: 24px;
    position: absolute;
    z-index: 1;
    transform: scale(0);
    background: linear-gradient(to bottom, $primary, $secondry);
    background: -webkit-linear-gradient(to bottom, $primary, $secondry);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:hover {
    .empty {
      opacity: 0;
    }
    .fill {
      transform: scale(1);
      transition: transform 500ms ease-in-out;
      transform-origin: bottom center;
    }
  }
}
.menu_descript {
  .btn_circle {
    transition: transform 500ms;
    transform: translateX(66px);
  }
  .btn_price {
    transition: transform 500ms;
    transform: translateX(0px);
  }
  &:hover {
    .btn_circle {
      transition: transform 500ms;
      transform: translateX(0);
    }
    .btn_price {
      transition: transform 500ms;
      transform: translateX(-45px);
    }
    .btn_circle--check {
      transition: transform 1000ms ease-in-out;
      transform: rotate(360deg);
    }
    .meal_detail-text {

      width: calc(100% - 50px);
    }
  }
}
.btn {
  background-image: linear-gradient( $secondry, 45%, $primary);
  transition: transform 1000ms ease-in-out;
}
