* {
  margin: 0;
  padding: 0;
  @include desktop{
    margin: 0 auto;
  }
}
*:focus {
  outline: none;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
li {
  list-style: none;
}