.fonctionnement {
    h2 {
      font-size: 1.6em;
      padding: 30px 20px;
    }
    &_step {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include desktop{
        flex-direction: row;
        justify-content: space-around;
      }
    }
    &_btn {
      width: 80%;
      height: 65px;
      background-color: $background;
      border-radius: 15px;
      box-shadow: 1px 2px 11px $shadow;
      margin: 0 0 30px 0;
      cursor: pointer;
      &:hover{
        color: black;
        box-shadow: 3px 4px 15px $shadow;
        background-color: #7d7d7d60;
        .fas{
          color: $primary;
        }
      }
      @include desktop{
        width: 25%;
      }
      .btn__num {
        width: 23px;
        height: 23px;
        font-size: 0.8em;
        color: white;
        text-align: center;
        background-color: $primary;
        border-radius: 50%;
        left: -12.5px;
        top: 23px;
        line-height: 25px;
        position: relative;
        margin: 0;
      }
      .fas {
        padding: 0 20px 0 30px;
        color: #7e7e7e;
      }
      &:hover{
        color: #9356DC;
      }
      span {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }