.restaurant_menu{
    .card_heart--resto{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        right: 50px;
        bottom: 50px;
        @include desktop{
            right: 35px;
        }
  }
    &.card_heart--menu{
        top: 40px;
        width: 80%;
    }
}