.menu_content {
  background-color: $background;
  .menu_image {
    img {
      width: 100%;
      max-height: 400px;
      margin-bottom: -30px;
      object-fit: cover;
    }
  }
  .menu_items {
    padding: 10px;
    position: sticky;
    background-color: $background;
    border-radius: 50px 50px 0 0;
    margin-top: -55px;
    .menu_title {
      display: flex;
      gap: 30px;
      font-size: large;
      margin: 12px;
      line-height: 25px;
      @include mobile {
        gap: 30px;
        font-size: large;
        margin: 12px;
      }
      @include tablette {
        justify-content: center;
      }
      @include desktop {
        gap: 350px;
        font-size: xx-large;
        line-height: 25px;
        margin: 20px 50px;
        justify-content: space-between;
      }
      h1 {
        margin: unset;
      }
    }
    .desktop_section {
      @include tablette {
        display: flex;
        flex-direction: column;
      }

      @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 34%);
        .desktop_column {
          width: 95%;
        }
      }
    }
    .designation {
      font-size: 19px;
      font-weight: 400;
      margin: 20px 0;
      @include line;
    }
    .carte_menu {
      flex: 1;
      overflow: hidden;
      width: 100%;
      .menu_descript {
        overflow: hidden;
        background-color: $white;
        border-radius: 15px;
        margin-bottom: 15px;
        position: relative;
        cursor: pointer;
        // min-width: 0;
        @extend %shadow;
        @include desktop {
          // width: 98%;
          margin: 15px 60px 5px 0;
        }
        .meal_detail {
          &-text{
            @include ellipsis;
            &--name {
              display: block;
              font-size: 1em;
              padding: 10px 60px 0 10px;
              font-weight: 700;
              @include ellipsis
            }
            &--accompagn {
              display: block;
              font-weight: normal;
              padding: 0 60px 10px 10px;
              @include ellipsis
            }
          }
        }
        .btn_price {
          position: absolute;
          height: 100%;
          top: 0;
          right: 0;
          padding: 30px 20px 0 20px;
          // display: flex;
          // font-weight: 700;
          // padding: 0 30px 0 5px;
          // flex-direction: row;
          // align-items: flex-end;
          // line-height: 35px;
          // justify-content: flex-end;
          white-space: nowrap;
        }
        .btn_circle {
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          font-size: 1.1em;
          color: #ffffff;
          text-align: center;
          padding: 9px 0;
          width: 55px;
          line-height: 40px;
          background-color: $tertiary;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
        @include button;
      }
    }
  }
}
.btn_order {
  @extend .presentation_explor--btn;
  font-size: large;
}