.presentation {
  display: flex;
  flex-direction: column;
  background-color: $background;
  text-align: center;
  padding: 20px 20px 30px;
  &_title {
    margin-bottom: 0;
    color: $black;
    padding: 0 20px;
    margin-block-start: unset;
  }
  &_text {
    color: #969696;
  }
  &_explor {
    margin: 20px;
    &--btn {
      width: 200px;
      text-align: center;
      height: 50px;
      color: $white;
      border-radius: 50px;
      // background-color: #9356DC;
      background: linear-gradient(175deg, $secondry 0%, $primary 100%);
      box-shadow: 3px 5px 7px #d5d5d5;
      position: relative;
      z-index: 1;
      white-space: pre;
      margin: 20px auto 40px auto;
      padding: 15px;
      &:hover {
        box-shadow: 5px 5px 10px rgb(0 0 0 / 60%), inset -1px -1px 2px $primary;
        background: linear-gradient(
          175deg,
          lighten ($secondry, 4%) 0%,
          lighten ($primary, 1%) 100%
        );
      }
    }
    @include desktop {
      width: 20%;
      align-self: center;
      margin: 20px;
    }
  }
}
